In [6]:
# grab dependencies
import pandas as pd

In [17]:
# read in the vine csv and create a dataframe to work with in pandas

vine_df = pd.read_csv("vine.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [51]:
vine_df.count()

review_id            1785997
star_rating          1785997
helpful_votes        1785997
total_votes          1785997
vine                 1785997
verified_purchase    1785997
dtype: int64

In [18]:
#create a new dataframe where the total votes are greater than or equal to 20

total_20_df = vine_df[vine_df.total_votes >=20]
total_20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [52]:
total_20_df.count()

review_id            65379
star_rating          65379
helpful_votes        65379
total_votes          65379
vine                 65379
verified_purchase    65379
dtype: int64

In [79]:
# create a new dataframe where helpful votes div by total votes equals >= 50%

greater_50_df = total_20_df[total_20_df.helpful_votes / total_20_df.total_votes >= .5]
greater_50_df.vine.value_counts()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [47]:
# create a dataframe where we filter to only vine reviews
vine_reviews_df = greater_50_df[greater_50_df.vine == 'Y']
vine_reviews_df.vine.value_counts()

Y    94
Name: vine, dtype: int64

In [46]:
# create a dataframe where we filter to only non vine reviews
unpaid_reviews_df = greater_50_df[greater_50_df.vine == 'N']
unpaid_reviews_df.vine.value_counts()

N    40471
Name: vine, dtype: int64

In [77]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5 star reviews for vine reviews

total_vine_star=(vine_reviews_df.star_rating.count())
total_5_star = (vine_reviews_df.star_rating[vine_reviews_df.star_rating == 5].count())
percentage_5_star = round((total_5_star/total_vine_star)*100)
print(f'The total number of vine reviews is {total_vine_star}')
print(f'the total number of 5 star vine reviews is {total_5_star}')
print(f'The percentage of 5-star vine reviews is {percentage_5_star}%')

The total number of vine reviews is 94
the total number of 5 star vine reviews is 48
The percentage of 5-star vine reviews is 51%

In [78]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5 star reviews for non-vine reviews

total_unpaid_star=(unpaid_reviews_df.star_rating.count())
total_unpaid_5_star = (unpaid_reviews_df.star_rating[unpaid_reviews_df.star_rating == 5].count())
percentage_unpaid_5_star = round((total_unpaid_5_star/total_unpaid_star)*100)
print(f'The total number of vine reviews is {total_unpaid_star}')
print(f'the total number of 5 star vine reviews is {total_unpaid_5_star}')
print(f'The percentage of 5-star vine reviews is {percentage_unpaid_5_star}%')

The total number of vine reviews is 40471
the total number of 5 star vine reviews is 15663
The percentage of 5-star vine reviews is 39%